%button {
  max-width: 100%;
  text-align: center;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  transition: .3s;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.button {
  @extend %button;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}