extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content

	.container

		.timelines#timelines
			
			.timelines__design
				.panel-design
					.panel-item__caption
						h2 Change design
					.panel-item__content
						button.panel-btn(
							@click="changeDesign('LabelTopSide')"
							:disabled="design.optionLabelTopSide"
						) Top and Side
						button.panel-btn(
							@click="changeDesign('LabelTopCenter')"
							:disabled="design.optionLabelTopCenter"
						) Top and Center
						button.panel-btn(
							@click="changeDesign('LabelBottomSide')"
							:disabled="design.optionLabelBottomSide"
						) Bottom and Side
						button.panel-btn(
							@click="changeDesign('LabelBottomCenter')"
							:disabled="design.optionLabelBottomCenter"
						) Bottom and Center

			.timelines__list

				.timeline(
					:class="{'timeline--v1': design.optionLabelTopSide, 'timeline--v2': design.optionLabelTopCenter, 'timeline--v3': design.optionLabelBottomSide, 'timeline--v4': design.optionLabelBottomCenter}"
					)
					Timeline-Step(
						v-for="(item, index) in timelineSteps"
						:key="item.index"
						:step="item.step"
						:complete="item.complete"
					)

			.timelines__action
				.panel-steps
					.panel-item__caption
						h2 Change step
					.panel-item__content
						button.panel-btn(
							@click="prevStep()"
							:disabled="!stepsPanel.prev"
						) Previous step
						button.panel-btn(
							@click="nextStep()"
							:disabled="!stepsPanel.next"
						) Next step

				.panel-steps
					.panel-item__caption
						h2 Сhange the number of steps
					.panel-item__content
						button.panel-btn(
							@click="addStep()"
							:disabled="timelineSteps.length === 8"
						) Add step
						button.panel-btn(
							@click="removeStep()"
							:disabled="timelineSteps.length === 2"
						) Remove step