$primary-color: #4ea31e;
$secondary-color: #f49530;
$action-color: #3655ff;
$font-color: #333;
$font-color-light: #878787;

$gray: #e5e5e5;

$labelPos: 25px;

$bp-desktop-hd: 1800px;
$bp-desktop: 1200px;
$bp-tablets: 992px;
$bp-ls-tablets: 768px;
$bp-phones: 540px;